name: any-pr

on: [pull_request]

jobs:
  build_test:
    name: Build test
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        node-version: [16.x]
        os: [[self-hosted, macos, X64, general, M1, runner01]]
        exclude:
          # exclude windows node 11 due to neon-sys bug
          - os: windows-latest
            node-version: 11.x
          # exclude windows node 15 due to another node-gyp bug
          - os: windows-latest
            node-version: 15.x
          # exclude windows node 16 due to another node-gyp bug
          - os: windows-latest
            node-version: 16.x
    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - run: yarn install --frozen-lockfile
      - run: yarn lint
      - run: yarn build
      - run: yarn test --coverage
      - run: yarn benchmark
