name: any-pr

on: [pull_request]

jobs:
  build_test:
    name: Build test
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        node-version: [14.x, 16.x, 18.x]
        os: [macos-latest, ubuntu-latest] # not include windows due to node-gyp bug
    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - run: yarn install --frozen-lockfile
      - run: yarn lint
      - run: yarn build
      - run: yarn test --coverage
      - run: yarn benchmark
