# This workflow file is used to manually trigger pushing binaries for target env's
# post release, to deal with the case when this fails during an automated release
name: push-binary-dispatch

on:
  workflow_dispatch:
    inputs:
      macos:
        description: "MacOS Binaries"
        required: true
        type: boolean
      windows:
        description: "Windows Binaries"
        required: true
        type: boolean
      linux:
        description: "Linux Binaries"
        required: true
        type: boolean

jobs:
  build_win_pub_binaries:
    name: Publish Windows binaries for supported environments for release
    if: github.event.inputs.windows
    timeout-minutes: 30
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        node-version: [10.x, 11.x, 12.x, 13.x, 14.x, 15.x, 16.x]
        os: [windows-latest]
        exclude:
          # exclude windows node 11 due to neon-sys bug
          - os: windows-latest
            node-version: 11.x
          # exclude windows node 15 due to another node-gyp bug
          - os: windows-latest
            node-version: 15.x
          # exclude windows node 16 due to another node-gyp bug
          - os: windows-latest
            node-version: 16.x
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - run: yarn
      - run: yarn install --frozen-lockfile
      - run: yarn build
      - run: yarn test
      - run: yarn publish:binary
        shell: bash
        env:
          NODE_PRE_GYP_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  build_macos_pub_binaries:
    name: Publish MacOS binaries for supported environments for release
    if: github.event.inputs.macos
    timeout-minutes: 30
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        node-version: [10.x, 11.x, 12.x, 13.x, 14.x, 15.x, 16.x]
        os: [macos-latest]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - run: yarn
      - run: yarn install --frozen-lockfile
      - run: yarn build
      - run: yarn test
      - run: yarn publish:binary
        shell: bash
        env:
          NODE_PRE_GYP_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  build_linux_pub_binaries:
    name: Publish Linux binaries for supported environments for release
    if: github.event.inputs.linux
    timeout-minutes: 30
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        node-version: [10.x, 11.x, 12.x, 13.x, 14.x, 15.x, 16.x]
        os: [ubuntu-latest]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - run: yarn
      - run: yarn install --frozen-lockfile
      - run: yarn build
      - run: yarn test
      - run: yarn publish:binary
        shell: bash
        env:
          NODE_PRE_GYP_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
